<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1{
            color: blue;
        }
        h2{
            color: red;
        }
    </style>
</head>
<body>
    <h1>Welcome</h1>
    <h2>Welcome {{name}} to our {{subject}} App</h2>
    <h3>Thanks & Regards</h3>
    <h3>www.Abc.com</h3>
    
</body>
</html>